%tr
  %td
    - if comment['icon_url'].include?('http')
      = image_tag (comment['icon_url']), class: 'comment__icon', title: comment['participation_name']
    - else
      = image_tag (Rails.application.secrets.omniauth_site + comment['icon_url']), class: 'comment__icon', title: comment['participation_name']
  %td{:style=>"width: 500px"}
    = comment['content']
  %td
    = I18n.l Time.parse(comment['created_at'])
