-#%li.list-group-item
-#  = image_tag (Rails.application.secrets.omniauth_site + comment['icon_url']), class: 'comment__icon', title: comment['participation_name']
-#  = comment['content']
-#  = I18n.l Time.parse(comment['created_at'])

%tr
  %td
    = image_tag (Rails.application.secrets.omniauth_site + comment['icon_url']), class: 'comment__icon', title: comment['participation_name']
  %td
    = comment['content']
  %td
    = I18n.l Time.parse(comment['created_at'])
